*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #156064;
    text-align: center;
    align-items: center;
    color: white;
}

h1{
    background-color: rgb(6, 6, 74);
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 120px;
    width: 165px;
    border-radius: 50%;

}
.choice:hover{
    cursor: pointer;
    opacity: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem;
    /* background-color: rebeccapurple; */
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color:  rgb(6, 6, 74);
    font-size: 2rem;
    display: inline;
    padding: 10px;
    border-radius: 1rem;
}